h1, h2, h3{
  font-family: 'Sigmar One', cursive;
  color: #cc3865;
}

h2{
  border-top: 3px solid #ffe524;
  line-height: 3em;
  margin-border: 0;
}

header{
  background-color: #ffe524;
  text-align: center;
}

nav li{
  padding: .5em;
  border-radius: .2em;
  background-color: #b2a215;
  display: inline;
}

nav, main{
  padding: 0.5em;
}

blockquote{
  font-family: georgia, serif;
  color: #b2a215;
  font-style: italic;
  text-align: center;
}

blockquote cite{
  text-align: center;
  display: block;
}

nav a{
  text-decoration: none;
  color: white;
}
body, header h1, dd{
  margin: 0;
}
